
header {
    background-color: #ffffff;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 3px solid #dddddd;
    position: sticky;
    top: 0;
    margin: 0 0 40px 0;
    z-index: 99;
}

footer {
    background-color: #666666;
    text-align: center;
    color: #cccccc;
    height: 50px;
    padding: 30px;
    border-top: 8px solid #4aaaa5;
}

body {
    background-color: #ffffff;
    border-color: #dddddd;
    color: #777777;
    font-family: "Edu AU VIC WA NT Guides", cursive;
}

#header_name {
    background-color: #4aaaa5;
    width: 250px;
    text-align: center;
    float: left;
    font-weight: 700;
    font-size: 30px;
    line-height: 90px;
    color: #ffffff;
}

#website_links {
    float: right;
    margin-top: 25px;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}

a {
  text-decoration: none;  
}

nav a {
    color: #999999;
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid #ddd;
}

nav a:first-child {
    border-left: none;
}

#myimage {
    float: left;
    margin-right: 25px;
    margin-bottom: 10px;
}

h1 {
    border-bottom: 3px solid #dddddd;
    color: #4aaaa5;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#About_Body {
    border: 1px solid #dddddd;
    padding: 30px;
    min-height: calc(100vh - 80px);
    margin: 0 0 40px 0;
    overflow: auto;
}

input,
textarea {
    width: 100%;
}

#button {
    width: initial;
}

h2 {
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 50px;
    padding-top: 22px;
}

.work {
    float: left;
    position: relative;
    margin: 20px 0 25px;
}

.work:nth-child(even) {
    margin-right: 40px;
}

.workimage {
    width: 274px;
    height: 240px;
}
